body{
    display:flex;
    flex-direction: column;
    font-family: "Roboto " ,sans-serif;
}
.one{
 background-color: #1F2937;
 padding-bottom:60px;
}
.header
{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom:100px;
    align-items: center;
   
   
}
.logo
{
   
    font-size: 24px ;
    font-weight: bold;
    color: #F9FAF8;
    
}
ul{
  list-style-type: none;
  display: flex;
  gap:16px;
  font-size: 18px;
  color: #e5e7eb;
  
    
}
.content
{
    display: flex;
    justify-content: space-between;
}
.text
{
  
    font-size: 18px;
    color: #e5e7eb;
    max-width: 350px;
  
}
 #heading
{
    font-size:48px ;
    font-weight: bolder;
    color: #F9FAF8;
    
}
.outer
{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 0 auto;
}
 .signup
{
  padding: 4px 8px;
  color: white;
  background-color:#3882F6;
  border-radius: 8px;
  width: 100px;
}
.content{
    margin-top:8px ;
    margin-bottom: 16px;
}
.main-text
{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}
.photos
{
    display:flex;
    flex: 1;
    justify-content: space-between;
}
.two
{
    padding: 60px;
}
.image
{
    border-radius: 8px;
}
.sub-text
{
    max-width: 150px;
    margin-top: 10px;
    text-align: center;
}
